{% extends "../base/base.html" %}

{% block title %} Sign in {% endblock %}


{% block content %}
    {% include "../base/navbar.html" %}
    
    {% if form.errors %}
        <p>Your username and password does not match 🤨</p>
    {% else %}
        <h3 style="text-align: center;color: #6a00f4">Sign In</h3>
    {% endif %}

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col"></div>
            <div class="col">
                <div class="login-form">
                    <form action="{% url 'book:login' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn button-primary">Sign in</button>
                    </form>
                </div>
            </div>
            <div class="col"></div>
    </div>
    </div>
{% endblock %}
