@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.logo {
    font-family: 'Autour One', cursive;
    color: #f20089;
}

a {
    font-family: 'Poppins', serif;
}

h3 {
    font-family: 'Poppins', serif;
    font-size: 34px;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: 'Poppins', serif;
    font-size: 18px;
    font-style: light;
}
.button-primary {
    background-color: #6a00f4;
    border-color: #6a00f4;
    color: white;
}
.button-primary:hover {
    background-color: white;
    border-color: #6a00f4;
    color: #6a00f4;
}

.button-secondary {
    background-color: white;
    border-color: #f20089;
    color: #f20089;
}
.button-secondary:hover {
    background-color: #f20089;
    border-color: #f20089;
    color: white;
}

ul.errorlist {
    color: red; 
}

ul.errorlist li::marker {
    content: none;
}

span.helptext {
    font-size: x-small;
    font-style: italic;
    color: grey; 
    display: block;
}

.col-margin {
    margin: 20px;
}

.custom-header-bg {
    background-color: #6a00f4; 
    font-weight: bold
}

.custom-search {
    border-color: #6a00f4;
    border-width: 1px;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 10px;
}